@use './reset.scss';

/* Add your css here */


.h-conatiner{
    background-color: green;

}

div{
    /*background-color:azure;*/


}

.F_R{
    @extend .login;
    font-size: 20px;
    letter-spacing: 1px;
}

li{
    display: inline;
  
    
}
a{
    padding: 22px;
}

a.create:hover{
    text-decoration: none;
    color: rgb(232,232,232,0.5);
    
    transition: 0.7s;
}

.app{
    position: absolute;
    
}
a.getapp:hover{
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.2);;
}

a.order:hover{
    text-decoration: none;
    
    background-color: rgba(255, 0, 0, 0.1);
}

a.book:hover{
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.1);
}


a.gold:hover{
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.1);
}



.log{
    margin-top: 35px;
    margin-left: 1000px;
    
}
.login{
    color: white;
}

a.login:hover{
    text-decoration: none;
    color: rgb(232,232,232,0.5);
    transition: 0.4s;
}

.create{
    @extend .login;
}

.navbar{
    margin-right:20px;
    float: right;
    
}
.g_app{
    margin-top: 10px;
    margin-left: 10px;
}
.getapp{
    color: black;
    font-weight: 600;
}

        .gold{
            @extend .getapp;
        }
 .order{
     @extend .getapp;
 } 
 .book{
     @extend .getapp;
 }


.backimage{
    background-repeat: no-repeat;
    background-size: 100% 150%;
}

#search-rest{

    margin-left: 410px;
    margin-top: 275px;
    position: static;
}
 
.banner{
    position: static;
}

#search-btn{
    background-color:rgb(255,5,10);
    color: white;
    padding: 8px;
    padding-right: 17px;
    padding-left: 17px;
    position:relative;
    
}

input[type="text"]{ 
    padding: 10px 5px; line-height: 15px; 

}

.image{
    position: absolute;
    top: 199px;
    left: 610px;
}

.para{
    position: absolute;
    top: 325px;
    left: 410px;
    

}

.order-btn{
    margin-left: 50px;
}


button.detect-btn{
    border-radius: 10px;
    padding: 9px 12px;
    background-color: white;
    color: black;
    border:1px gray solid;
    text-decoration: none;
    cursor: pointer;
}

.detect-btn:hover{
    background-color: gray;
}

.widget{
    margin-left: 45px;
    margin-top: 115px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    background-color: #F8F8FF;
    

}

.ad{
    
    margin-left: 20px;
    margin-top: 90px;

}
 
body{
    overflow-x: hidden;
}



.category-list{

    display: grid;
    grid-template-columns: repeat(8 , 160px);
    grid-gap: 3px;
    justify-items: center;
    text-align: center;
}

#loc-subtitle
{
    color: grey;
    
}


.locality-list{

    display: grid;
    grid-gap: 10px;
    justify-content: center;
    justify-content: space-around;
    grid-template-columns: 180px 180px 180px;
}
 #cat-subtitle{
     @extend #loc-subtitle;
 }

 .footer-wrapper{

  

    color: white;

 }

 .footer{
     background-color: grey;
 }

 .logo{
     margin-left: 20px;
 }
.select{
    position: relative;
    left: 1150px;
}

.about{
   color: white;
}
.flex{
    line-height: 2.5;
    display: flex;
    justify-content: space-between;
    margin-left: 45px;
}

.grid{
    @extend .locality-list;
    justify-content: space-between;
    margin-left: 50px;
}

.t_c{
    display: grid;
    grid-template-columns: repeat(6,80px);
    margin-left: 20px;


}

.country{
    margin-left: 45px;
}

.create{
    border: 1px white solid;
    padding: 6px;
    border-radius: 4px;
}

@media screen and(max-width:700px){
    li,a{
        display: flex;
        flex-direction: column;
    }

    .category-list{
        display: grid;
        grid-template-columns: 100px 100px 100px;
    }

    .locality-list{
        display: flex;
        flex-direction: column;
    }
    .abt{
        display: flex;
        flex-direction: column;
    }
    .fo_o{
        display: flex;
        flex-direction: column;
    }

    .fo_rest{
        display: flex;
        flex-direction: column;
    }

    .grid{
        display: flex;
        flex-direction: column;
    }
}

@media screen and(max-width:900px){
    .responsive{
        width: 100%;
        height: auto;
    }
}

@media screen and(max-width:900px){
    .search-restaurant{
       text-align: center;

       #search-rest{
           justify-content: center;
       }
    }
}